/* Catppuccin Macchiato */
@define-color rosewater #f4dbd6;
@define-color flamingo  #f0c6c6;
@define-color pink      #f5bde6;
@define-color mauve     #cba6f7;
@define-color red       #ed8796;
@define-color maroon    #ee99a0;
@define-color peach     #f5a97f;
@define-color yellow    #eed49f;
@define-color green     #a6da95;
@define-color teal      #8bd5ca;
@define-color sky       #91d7e3;
@define-color sapphire  #7dc4e4;
@define-color lavender  #b7bdf8;
@define-color text      #cad3f5;
@define-color subtext1  #b8c0e0;
@define-color subtext0  #a5adcb;
@define-color overlay2  #939ab7;
@define-color overlay1  #8087a2;
@define-color overlay0  #6e738d;
@define-color surface2  #5b6078;
@define-color surface1  #494d64;
@define-color surface0  #363a4f;
@define-color base      #24273a;
@define-color mantle    #1e2030;
@define-color crust     #181926;

window {
    margin: 0px;
    border: 2px solid @lavender;
    background-color: @base;
    border-radius: 0;
    font-family: "Iosevka Nerd Font", sans-serif;
    font-size: 16px;
}

#input {
    padding: 4px 8px;
    margin: 10px;
    border: none;
    background-color: @mantle;
    color: @text;
    box-shadow: none;
}

#input:focus {
    outline: none;
    border: 2px solid @lavender;
}

#inner-box {
    margin: 5px 10px;
}

#outer-box {
    margin: 0px;
    padding: 5px;
}

#scroll {
    margin: 0px;
}

#entry {
    padding: 8px;
    margin: 2px 0;
}

#entry:selected {
    outline: none;
}

#text {
    margin: 4px;
    color: @text;
}

#img {
    margin-right: 12px;
}
